<% include partials/header.ejs %>
    <div class="container">
      <div class="jumbotron">
      <h1>User Authentication</h1>
      <p> This Express Web App uses Mongoose and Passport
      to perform user authentication</p>
      </div>

    </div>
<% include partials/footer.ejs %>
